.fileinput-button {
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transform: translate(-300px, 0px) scale(4);
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 0 100px 200px;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#dropzonecontainer {
    position:relative;
}
#fileupload #dropzone {
    position:absolute;
    display:none;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index:100;
    text-align:center;
    padding:15px 0px;
    min-height:60px;
    opacity:0.8;
    background:#f5f8c2;
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.progress {
    margin-bottom:10px;
}
.progress-extended {
    font-size:11px;
}
.files .progress {
    margin-bottom:0px;
    margin-top:2px;
}