/*
 * FatBox hostbill customizations
 */

/* update logo */
h1#company {
    background-image: url(../img/fatbox-200x38.png);
    background-repeat: no-repeat;
    background-position: 5px;
    height: 60px;
    width: auto;
}
h1#company span {
    display: none;
}

/* remove content background */
#cont {
    background: none;
}

/* set our link color */
body a {
    color: #00adee;
}

/* set our button color */
.btn-primary {
    background-color: #10c6f1;
    border: 1px solid #147191;
    background-image: -moz-linear-gradient(top , #10c6f1, #00adee);
    background-image: -webkit-linear-gradient(top , #10c6f1, #00adee);
    background-image: linear-gradient(top , #10c6f1, #00adee);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0px #6fd1f6 inset;
    text-shadow: 0px 1px 0px #238fc0;
    color:#fafafa;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #00adee;
}
.btn-primary:active, .btn-primary.active {
    background-color: #10c6f1 \9;
}

/* update the nav colors */
#mainmenu .nav-tabs > li > a:hover, #mainmenu  .dropdown.open .dropdown-toggle {
    background-color:#10c6f1;
    border: 1px solid #147191;
    background-image: -moz-linear-gradient(top , #10c6f1, #00adee);
    background-image: -webkit-linear-gradient(top , #10c6f1, #00adee);
    background-image: linear-gradient(top , #10c6f1, #00adee);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0px #6fd1f6 inset;
    text-shadow: 0px 1px 0px #238fc0;
    color:#fafafa;
}

#mainmenu .nav-tabs > li:hover + li >  a {
    border-left: 1px solid #147191;
}

#mainmenu .nav-tabs > .active > a,
#mainmenu .nav-tabs > .active > a:hover {
    background-color: #000;
    color:#fafafa;
}

#mainmenu  .nav-tabs {
    border:none;
}

/* drop down selected background color */
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #00adee;
}

#mainmenu  .dropdown-menu li > a:hover, #mainmenu  .dropdown-menu .active > a, #mainmenu  .dropdown-menu .active > a:hover {
    background-color: #00adee;
    color: #fafafa;
    box-shadow: 0px 1px 0px 0px #48A3FF inset, 0px 1px 1px 0px #2E2E2E;
    text-decoration: none;
}
