body {

    background: #f6f6f6 url('../img/tiles1.png') repeat 0px 0px;
    font-family:Arial,Tahoma,sans-serif;
    font-size:12px;
    color:#484740;
    margin:0px;
    padding:0px;

}
#status-ribbon.Cancelled {
 background:#555555;
    background: -moz-linear-gradient(center top ,  #555555, #222222);
    background: -webkit-linear-gradient(center top ,  #555555, #222222);
    background: -o-linear-gradient(center top ,  #555555, #222222);
    background: -ms-linear-gradient(center top ,  #555555, #222222);
    background: linear-gradient(center top ,  #555555, #222222);
}
#status-ribbon.Cancelled:after {
    border-bottom:7px solid #222222;
}
#status-ribbon.Unpaid {
 background:#C23231;
    background: -moz-linear-gradient(center top ,  #C23231, #B31F1F);
    background: -webkit-linear-gradient(center top ,  #C23231, #B31F1F);
    background: -o-linear-gradient(center top ,  #C23231, #B31F1F);
    background: -ms-linear-gradient(center top ,  #C23231, #B31F1F);
    background: linear-gradient(center top ,  #C23231, #B31F1F);
}
#status-ribbon.Unpaid:after {
    border-bottom:7px solid #a33b37;
}
#status-ribbon.Paid {
 background: #62C462;
    background: -moz-linear-gradient(center top , #62C462, #51A351);
    background: -webkit-linear-gradient(center top , #62C462, #51A351);
    background: -o-linear-gradient(center top , #62C462, #51A351);
    background: -ms-linear-gradient(center top , #62C462, #51A351);
    background: linear-gradient(center top , #62C462, #51A351);
}
#status-ribbon.Paid:after {
    border-bottom:7px solid #448944;
}
#status-ribbon {
    position:absolute;
    font-family: Georgia, "Times New Roman", serif;
    font-size:17px;
    right:20px;
    top:-7px;
    padding:10px 15px;
    background: #3399ff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    color:#fff;
    background: #37a9ff;
    background: -moz-linear-gradient(center top , #33ACFC, #3198DD);
    background: -webkit-linear-gradient(center top , #33ACFC, #3198DD);
    background: -o-linear-gradient(center top , #33ACFC, #3198DD);
    background: -ms-linear-gradient(center top , #33ACFC, #3198DD);
    background: linear-gradient(center top , #33ACFC, #3198DD);
    border-radius:0px 0px 3px 3px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2) inset, -1px 1px 2px rgba(4, 4, 4, 0.3);
}
#status-ribbon:after {
    display:block;
    content:"";
    float:left;
    position:absolute;
    border-bottom:7px solid #2083c2;
    border-left:5px solid transparent;
    height:0;
    width:0;
    top:0px;
    left:-5px;
    z-index:0;
}
#paymenu {
    margin-bottom:10px;
}
#paymenu .pelem {
    font-weight:bold;
    color: #666975;
    text-shadow: 1px 1px 0px #fff;
    display:block;
    font-size:14px;    border-bottom: 1px dashed #C0C0C0;    padding: 8px 3px;
}
#paymenu .pelem:last-child {
    border-bottom: none;
}
#paymenu .pelem i {
    opacity:0.7;
    margin-right:8px;
}
#paymenu .pelem:hover i {
    opacity:1;
}
#paymenu .pelem:hover  {
    text-decoration:none;
}
#backlink {
    text-align: center;
    margin: 10px;
    padding: 0;
}
#backlink a, a:active, a:visited {
    color: #a4a4a4;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
}
#backlink  a:hover {
    color: #a4a4a4;
    text-decoration: underline;
}
#invoice-container {
    width:759px;
    margin:20px auto;
}
#payform-container {
    margin:40px 0px;
    width:164px;
}
#payform-container .paynow {
}
#payform-container select {
    width:140px;
}
.unpaid-container {
    width:959px !important;
}
#invoice-content {
    width:749px;
    margin:5px;
    box-shadow: 0px 0px 5px #d6d6d6;
    float:left;
    background:#fff;
    position:relative;
}


#invoice-content:after,#invoice-content:before{
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
}
#invoice-content:after {

    width:741px;
    top: -4px;
    left: 4px;
    z-index: -1;
    box-shadow: 0px 0px 4px #d6d6d6;
}
#invoice-content:before {
    width:733px;
    top: -8px;
    left: 8px;
    z-index: -2;

    box-shadow: 0px 0px 1px #d6d6d6;
}


.left {
    float:left;
}
.right {
    float:right;
}
#invoice-status strong {
    color:#a4a4a4;
}
#invoice-body {
    font-size:11px;

    width:709px;
    padding:130px 20px 40px;
}
strong.larger {
    font-size:12px;
}
strong.status {

    text-transform:uppercase;
}
strong.Paid {
    color:#a6ca04;
}
strong.Unpaid {
    color:#891539;
}
strong.Cancelled {
    color:#b7b7b7;
}
#invoce-transactions {
    margin-top:30px;
    margin-bottom:20px;
}
.invoice-table{
    margin-top:20px;
    margin-bottom:20px;
    font-size:11px;
}
.invoice-table th, .invoice-table-transaction th {
    background:#f0f0f0;
    font-weight:bold;
    padding:0px;
    margin:0px;
    border-top:1px solid #eeeeee;
    border:none;
}

.invoice-table .aright, .invoice-table-transaction .aright {
    text-align:right;
}
.invoice-table .acenter, .invoice-table-transaction .acenter {
    text-align:center;
}

.invoice-table td.noborder {
    border:none !important;
}

.invoice-table-transaction td, .invoice-table-transaction th{
    padding:3px 12px;
}
.invoice-table-transaction .summary {
    font-size:12px;
    border:none !important;
}
.invoice-table-transaction td {
    border-bottom:solid 1px #f0f0f0;
}
.invoice-table .summary {
    font-size:12px;
    padding:5px 12px;
    border:none !important;
}
.invoice-table .summary .bigger {
    font-size:14px;
}
#invoice-icons {
    position:absolute;
    top:-11px;
    right:0px;
    width:75px;
}
#invoice-icons img {
    border:none;
    float:left;
    margin-right:6px;
}
.tbs {
    font-size:11px;
}
#gateway {
    text-align: center;
}
#invoice-footer {
    border-top: 1px solid #F0F0F0;
    text-align: center;
    margin: 20px auto 0 auto;
    color:#A4A4A4;
    padding: 10px 20px;
}
#credit-applicable {
    background:#D9FFB2;
    padding:20px 0px;
    color:#4C8700;
}
#credit-applicable .content {
    width:749px;
    margin:0px auto;
}
#credit-applicable input[type="text"], select.paymethod {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    font: 13px/16px Arial,sans-serif !important;
    padding: 4px 6px;
}
#credit-applicable a {
    color: #097BFB;
    text-decoration: underline;
}